<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giga</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/navbar.css">
    <link rel="stylesheet" href="/static/styles/contacts.css">
    <link rel="stylesheet" href="/static/styles/product.css">
    <link rel="stylesheet" href="/static/styles/filter.css">
    <link rel="stylesheet" href="/static/styles/info.css">
    <link rel="stylesheet" href="/static/styles/main.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            <input type="checkbox" id="sidebar-active">
            <div class="blur"></div>
            <label for="sidebar-active" class="open-sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </label>
            <div class="links-container">
                <label for="sidebar-active" class="close-sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg>
                </label>
                <a class="link" href="https://example.com">Главная страница.</a>
                <a class="link" href="https://example.com">Контакты</a>
                <a class="link" href="https://example.com">О нас</a>
            </div>
        </nav>

    </header>
    <div class="filter-container">
            <h1>Фильтр товаров</h1>

            <!-- Фильтр по сезону -->
            <div class="parameters">
                <!-- Поле для фильтрации по цене -->
                <div class="filter-group">
                    <div class="price-filter">
                        <div class="price-header">
                            <span>Фильтр цен</span>
                            <span>₽</span>
                        </div>

                        <div class="price-inputs">
                            <div class="price-input">
                                <input type="number" id="input-min" value="{{.MinPrice}}" min="{{.MinPrice}}"
                                    max="{{.MaxPrice}}">
                            </div>
                            <div class="price-input">
                                <input type="number" id="input-max" value="{{.MaxPrice}}" min="{{.MinPrice}}"
                                    max="{{.MaxPrice}}">
                            </div>
                        </div>

                        <div class="range-slider">
                            <div class="track" id="track"></div>
                            <input type="range" min="{{.MinPrice}}" max="{{.MaxPrice}}" value="{{.MinPrice}}"
                                id="lower">
                            <input type="range" min="{{.MinPrice}}" max="{{.MaxPrice}}" value="{{.MaxPrice}}"
                                id="upper">
                        </div>

                        <div class="price-limits">
                            <span>{{.MinPrice}} ₽</span>
                            <span>{{.MaxPrice}} ₽</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="filter-group">
                            <label>Ширина:</label>
                            <select class="filter" id="width-filter">
                                <option value="all">Все</option>
                                {{range .Widths}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="filter-group">
                            <label>Профиль:</label>
                            <select class="filter" id="profile-filter">
                                <option value="all">Все</option>
                                {{range .Profiles}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="filter-group">
                            <label>Диаметр:</label>
                            <select class="filter" id="diametr-filter">
                                <option value="all">Все</option>
                                {{range .Diameters}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="filter-group">
                            <label>Сезон:</label>
                            <select class="filter" id="season-filter">
                                <option value="all">Все</option>
                                <option value="winter">Зима</option>
                                <option value="summer">Лето</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Кнопка применения фильтра -->
            <div><button id="apply-filter">Применить</button></div>
        </div>
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Diameter</th>
                <th>Width</th>
                <th>Profile</th>
                <th>Manufacturer</th>
                <th>Season</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {{range .Products}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Cost}}</td>
                <td>{{.Diameter}}</td>
                <td>{{.Width}}</td>
                <td>{{.Profile}}</td>
                <td>{{.Manufacturer}}</td>
                <td>{{.Season}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/info.js"></script>
</body>

</html>
